/*
디자인 파트 
*/

@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    padding: 100px;
    background: whitesmoke;
    display: table-cell;
}

.MainBox {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    margin-bottom: 40px;
}

.TopFrame { 
    border: 3px solid brown;
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    font-size: xx-large;
    font-weight: 700;
    margin-bottom: 40px;
}

/*버튼그룹&버튼*/

.Btn {
    margin-top: 25px;
    margin-bottom: 25px;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 700;
    font-size:x-large;
    transition: 0.25s;
}

.brown {
    background-color: #ce6d39;
    color: #ffeee4;
    width: 85%
}

/*이미지 파트*/
.image {
    width: 50px;
    height: 50px;
    display: block;
    
}

/*광고 파트*/
/*하단 고정된 상태로 화면 크기가 바뀌어도 하단에 고정*/
.commercial {
    position: fixed;
    bottom: 0px; 
    left: 0px; 
    width: 100%; 
    height: 150px; 
    z-index:100; 
    border-top: 1px solid black; 
    background-color: white
}